<div class="container">
	<h1>Prueba técnica - Estudio Faser</h1>
	<h2>Listado de tareas</h2>


	
	<form [formGroup]="AgregarTarea" (submit)="agregarTarea()">
		<label for = "titulo">Título: </label> <input id="titulo" name="titulo" type="text" formControlName="titulo"><br><br>
		<label for = "duracion">Duración (minutos): </label> <input id="duracion" name="duracion" type="number" formControlName="duracion"><br><br>
		<button name= "add" type="submit" class="btn btn-default" class="boton">
			Agregar
		</button>
		
		
	</form>

	<table class="styled-table">
		<thead >
			<th>Tarea</th>
			<th>Duracion</th>

			<th></th>

		</thead>
		<tbody >
			<tr *ngFor="let tarea of tareas">
				<td>{{tarea.titulo}}</td>
				<td>{{tarea.minutos}}</td>
				<td><input (change)="seleccionarTarea(tarea)" value="tarea.seleccion" type="radio" ></td>
			</tr>
		</tbody>
	</table>
	<button name= "delete" type="button" (click)="EliminarTarea()" class="btn btn-default" class="boton2">
		Eliminar
	</button>
</div>