<div class="container">
	<h1>Prueba técnica - Estudio Faser</h1>
	<h2>Listado de tareas</h2>


	
	<form [formGroup]="AgregarTarea" (submit)="agregarTarea()">
		<label for = "titulo">Título: </label> <input id="titulo" name="titulo" type="text" formControlName="titulo"><br><br>
		<label for = "duracion">Duración (minutos): </label> <input id="duracion" name="duracion" type="number" formControlName="duracion"><br><br>
		<button name= "add" type="submit" class="btn btn-default" class="boton">
			Agregar
		</button>
		
		
	</form>

	<table class="styled-table">
		<thead >
			<th>Id</th>
			<th>Tarea</th>
			<th>Duracion</th>
			<th>Destacada</th>
			<th>Eliminar</th>

		</thead>
		<tbody >
			<tr *ngFor="let tarea of tareas" [ngClass]="tarea.destacada == true ? 'destacada' : 'nodestacada'" >
				
				
				
				<td>{{tarea.id}}</td>
				<td>{{tarea.titulo}}</td>
				
				<td>{{tarea.minutos}}</td>
				<td><input (change)="TareaDestacada(tarea)" value="tarea.destacada" type="radio" ></td>
				<td><input (change)="seleccionarTarea(tarea)" value="tarea.seleccion" type="radio" ></td>
			</tr>
			<tr>
				<td></td><td></td>
				<td><button name= "delete" type="button" (click)="EliminarTarea()"  class="boton2">
					Eliminar
				</button></td>
				<td></td><td></td>
			</tr>
			<tr>
				<td>Por ID</td><td></td>
				<td><button name= "ordenA" type="button" (click)="OrdenA()" class="btn btn-default" class="boton3">
					Ordenar Ascendente
				</button></td>
				<td><button name= "ordenD" type="button" (click)="OrdenD()" class="btn btn-default" class="boton3">
					Ordenar Descendente
				</button></td><td></td>
			</tr>
			<tr>
				<td>Por Duracion</td><td></td>
				<td><button name= "ordenAT" type="button" (click)="OrdenAT()" class="btn btn-default" class="boton3">
					Ordenar Ascendente
				</button></td>
				<td><button name= "ordenDT" type="button" (click)="OrdenDT()" class="btn btn-default" class="boton3">
					Ordenar Descendente
				</button></td><td></td>
			</tr>
		</tbody>
	</table>
	
	
		
		

	
</div>